* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-height: 0;
}

widget > * {
    border-left: 2px solid black;
    padding: 16px
}

window#waybar {
    background-color: white;
    border-bottom: 2px solid black;
    color: black;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    color: black;
    padding: 0 16px;
    margin-bottom: 2px;
    border-radius: 0
}

#workspaces button.focused {
    background-color: #aaa;
}

#workspaces button.urgent {
    background-color: #bbb;
}

#mode {
    background-color: #bbb;
}

#custom-media {
    min-width: 100px;
}

